<h2><%= @planet.name %></h2>
<p><%= @planet.num_moons %></p>
<p><%= @planet.color %></p>
<p><%= link_to "Edit", edit_planet_path(@planet) %></p>
<%= form_for @planet, html: {method: "delete"} do |f| %>
  <%= f.submit "Delete #{@planet.name}" %>
<% end %>